@using System.Web.Optimization
@using ColorSoft.Web.Extensions
@{
    ViewBag.Title = "Index";
    ViewBag.SelectedNavigationItem = "contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css
{
    @Styles.Render("~/Css/angular-ui")
}
@section scripts
{
    @Scripts.Render("~/scripts/angular")
}
@section footerScripts
{
     @Html.RenderMessagingApplication()
}

<div ng-app="messaging">
    <div ng-view></div>
</div>
