<div ui-modal id="addDialog" class="fade addOrganization" tabindex="-1" ng-model="addDialogVisible"
    ng-controller="AddOrganizationCtrl">
    <div class="modal-header">
        <button type="button" ng-click="closeAddDialog()" class="close" aria-hidden="true">
            &times;</button>
        <h3>
            Add Organization
        </h3>
    </div>
    <div class="modal-body">
        <div ng-show="errorsVisible()" class="alert alert-error">
            <ul>
                <li ng-repeat="error in errors">{{ error }}</li>
            </ul>
        </div>
        <form novalidate name="addOrganizationForm" class="addOrganizationForm">
            <div class="alert alert-error" ng-show="">
            </div>
            <div class="control-group">
                <label for="Name" class="control-label">
                    Name:</label>
                <div class="controls">
                    <input type="text" name="Name" id="Name" ng-model="organization.Name" required />
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <a ng-click="closeAddDialog()" class="btn">No</a> <a ng-click="createOrganization()" class="btn btn-primary">
            Yes</a>
    </div>
</div>
