<div class="row">
    <div class="span2">
        @Html.Action(MVC.DashboardNavigation.Index())
    </div>
    <div class="span10">
        <ng-include src='selectedTemplate.TemplateUrl'></ng-include>
    </div>
</div>