<div class="navbar">
    <div class="navbar-inner">
        <a href="#" class="brand">Users</a>
        <ul class="nav nav-pills">
            <li><a ng-click="showAddDialog()">Add User</a></li>
            <li><a>Delete Selected</a></li>
        </ul>
    </div>
</div>
<table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>
                <input type="checkbox" />
            </th>
            <th data-sort="FirstName">
                <a href="#">First Name</a>
            </th>
            <th data-sort="LastName">
                <a href="#">Last Name</a>
            </th>
            <th data-sort="UserName">
                <a href="#">User Name</a>
            </th>
            <th data-sort="EmailAddress">
                <a href="#">Email Address</a>
            </th>
            <th data-sort="CreatedAt">
                <a href="#">Date Created</a>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users">
            <td>
                <input type="checkbox" />
            </td>
            <td>
                {{ user.FirstName }}
            </td>
            <td>
                {{ user.LastName }}
            </td>
            <td>
                {{ user.UserName }}
            </td>
            <td>
                {{ user.EmailAddress }}
            </td>
            <td>
                {{ user.CreatedAt }}
            </td>
            <td>
                <a href="#">Edit</a>&nbsp; <a>Delete</a>
            </td>
        </tr>
    </tbody>
</table>
<div ui-modal id="addDialog" class="fade" tabindex="-1" ng-model="addDialogVisible">
    <div class="modal-header">
        <button type="button" ng-click="closeAddDialog()" class="close" aria-hidden="true">
            &times;</button>
        <h3>
            Add User
        </h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label for="FirstName" class="control-label">
                First name:</label>
            <div class="controls">
                <input type="text" name="FirstName" id="FirstName" ng-model="newUser.FirstName" />
            </div>
        </div>
        <div class="control-group">
            <label for="LastName" class="control-label">
                Last name:
            </label>
            <div class="controls">
                <input type="text" name="LastName" id="LastName" ng-model="newUser.LastName" />
            </div>
        </div>
        <div class="control-group">
            <label for="UserName" class="control-label">
                User name:</label>
            <div class="controls">
                <input type="text" name="UserName" id="UserName" ng-model="newUser.UserName" />
            </div>
        </div>
        <div class="control-group">
            <label for="EmailAddress" class="control-label">
                Email Address:</label>
            <div class="controls">
                <input type="text" name="EmailAddress" id="EmailAddress" ng-model="newUser.EmailAddress" />
            </div>
        </div>
        <div class="control-group">
            <label for="Password" class="control-label">
                Password:</label>
            <div class="controls">
                <input type="password" name="Password" id="Password" ng-model="newUser.Password" />
            </div>
        </div>
        <div class="control-group">
            <label for="PasswordConfirmation" class="control-label">
                Password Confirmation:</label>
            <div class="controls">
                <input type="password" name="PasswordConfirmation" id="PasswordConfirmation" ng-model="newUser.PasswordConfirmation" />
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a ng-click="closeAddDialog()" class="btn">No</a> <a ng-click="createUser()" class="btn btn-primary">
            Yes</a>
    </div>
</div>
<div id="deleteDialog" class="modal hide fade" tabindex="-1">
    <div class="modal-header">
        <button type="button" class="close" aria-hidden="true">
            &times;</button>
        <h3>
            Confirm Delete
        </h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete this user?
    </div>
    <div class="modal-footer">
        <a href="#" class="btn">No</a> <a href="#" class="btn btn-primary">Yes</a>
    </div>
</div>
