#navigation-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation-menu .accordion-heading { background-color: #DCDCDC; }

.tabular .row {
    border-bottom: 1px solid #DCDCDC;
    padding-bottom: 5px;
    padding-top: 2px;
    vertical-align: middle;
}

.loading {
    background: #ffffff url('../images/ajax-loader.gif') no-repeat left;
    height: 100px;
    width: 100%;
}

#dashboard-content > div.container {
    border: 1px solid #DCDCDC;
    min-height: 500px;
    max-height: 800px;
    overflow-x: auto;
    padding: 5px;
}

.container h2 {
    font-size: 20px;
}

.addUser .modal-body {
    max-height: 500px;
}

.addUserForm input.ng-invalid.ng-dirty {
        background-color: #FA787E;
}
   
 .addUserForm input.ng-valid.ng-dirty {
        background-color: #78FA89;
}

.accordion-toggle {
    color: #08C;
}

.addUserForm .select2-container {
    width: 220px;
}